<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask on GKE</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #282c34;
            color: white;
            margin-top: 50px;
        }
        h1 {
            color: #61dafb;
        }
    </style>
</head>
<body>
    <h1>🚀 Learning DevOps is Challenging 🚀</h1>
</body>
</html>
